html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
}

app-books {
  padding: 20px 160px;
  border-radius: 10px;
  border: 1px solid gray;
}
